@model TDYW.Models.Pool

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (Model != null)
{
    <p>
        <a asp-action="Create" asp-route-id="@Model.Id">Create New</a>
    </p>
    @Html.Partial("_PartialInvite", Model.Invitations)
}

