
@{
    ViewData["Title"] = "FAQ";
}

<h2>Most Frequently Asked Questions</h2>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Why do you turn the fireplace off but leave the fireplace fan on?</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <strong>Because the fireplace is stays hot</strong> for a good while after the gas is turned off, and so the fan continues to blow out warm air. If I turned the fan off right away, too, a lot of that heat would just go up the chimney.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Can I play with the tablet?</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <strong>Yes</strong>, you can play with the tablet. Just for a few minutes, though.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Can I play with your phone?</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <strong>Yes</strong>, you can play with my phone. Not for long, though, and I need you to give it back to me without a fight when I ask for it.
            </div>
        </div>
    </div>
</div>
<p>If you have a question that was not answered here, please <a href="mailto:questions@tdyw.com">contact us</a>!</p>

